/******** START: images ********/
.bannerimg {
    max-width: 100%;
    height: auto;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.profileimg {
    /* vertical-align: middle; */
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

/******** END: images ********/


/******** START: backgrounds ********/
.lightblock {
    background-color: white;
    color: #4d4d4d;
    padding-top: 3em;
    padding-bottom: 3em;
}

.darkblock {
    background-color: #4d4d4d; 
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    /* TODO change hyperlink color and hover color */
}

/******** END: backgrounds ********/


/******** START: experience ********/
.experiencebox {
    background-color: white;
    color: #4d4d4d;
    height: 200px;
    margin-bottom: 2em;
    padding-top: 4em;
    /* add background image here for entire box
    actually need to have separate images for each block */
}

.experiencetitle {
    font-size: 1.5em;
    font-weight: bold;
}

.experiencecompany {
    font-size: 1em;
}

/* modal window only */
.experiencedates {
    font-size: 1em;
}

/* modal window only */
.experiencetext {
    font-size: .5em;
}

/* modal window only */
.experienceimg {
    width: 200px;
    height: auto;
}

.expslide{
    /* TODO change bkg color to white after testing */
    background-color: rgb(139, 139, 139);
    color: #4d4d4d;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 300px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

/******** END: experience ********/

/******** START: footer ********/


/******** START: footer ********/