body { 
    position: relative;
}

.sectionheader {
    padding-top: .25em;
    padding-bottom: .25em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.emphasis {
    font-weight: bold;
    color: rgb(42, 152, 255);
}

.longblueline {
    background: rgb(42, 152, 255);
    width: 65%;
    height: 1px;
}


/******** START: colors ********/
.darkgray { 
    background-color: #343a40;
    color: #ffffff;
}

/******** END: colors ********/


/******** START: images ********/
.profileimg {
    /* vertical-align: middle; */
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

/******** END: images ********/


/******** START: backgrounds ********/
.lightblock {
    background-color: white;
    color: #4d4d4d;
    padding-top: 3em;
    padding-bottom: 3em;
}

.darkblock {
    background-color: #343a40; 
    /* bootstrap dark background color, $gray-800: #343a40 !default; // dark */
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    /* TODO change hyperlink color and hover color */
}

/******** END: backgrounds ********/

/******** START: banner ********/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/codebannersmall.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.masthead h1 {
    color: white;  
    font-size: 10vw;
    width: 90%;
    margin: auto;
}

.masthead .subhead {
    color: white;  
    font-size: 2.5vw;
    width: 75%;
    margin: auto;
    font-weight: bold;
}

.masthead .emphasis {
    font-weight: bold;
    color: rgb(42, 152, 255);
}
/******** END: banner ********/


/******** START: navbar ********/
.navbar-brand {
    font-size: 1.5em;
}

.navbar-nav a:hover {
    color: #fff;
    /* text-decoration: underline; */
}
/******** END: navbar ********/


/******** START: experience ********/

/*  window only */
.expslide{
    /* TODO change bkg color to white after testing */
    background-color: #fff /*rgb(233, 233, 233)*/;
    color: #4d4d4d;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 300px;
    align-content: center;
    border: 4px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: rgb(42, 152, 255);
}

.experiencecompany {
    font-weight: bold;
}

.dates {
    font-style: italic;
    font-weight: normal;
}

.imgcredit {
    font-style: italic;
    text-decoration: none;
}

.imgcredit a {
    color: #4d4d4d;
}

/******** END: experience ********/


/******** START: skills ********/
.skillheader {
    padding-top: .25em;
    padding-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* font-weight: bold; */
}

.skillrow {
    padding-top: .25em;
    padding-bottom: .25em;
}
/******** START: project ********/


/******** START: project ********/
.projectbox {
    background-color: rgb(42, 152, 255);
    color: #4d4d4d;
    height: 200px;
    margin-bottom: 2em;
    /*padding-top: 4em;*/
    border: 2px hidden;
    border-radius: 5px;
}

.projectbox-img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/portfoliodesktop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectbox-img1:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/portfoliodesktop.png');
}

.projectbox-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/mirrorsketches.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectbox-img2:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/mirrorsketches.png');
}

.projectbox-img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/codementorsketches.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectbox-img3:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/codementorsketches.png');
}

.projectbox-inner {
    background-color: #fff;
    color:#4d4d4d;
    padding-top: 15px;
    padding-bottom: 5px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
}

.projecttitle {
    font-size: 1.5em;
    font-weight: bold;
}

.projectcompany {
    font-size: 1em;
}

.projectmodal-btn {
    width: 100%; 
    height: 100%;   
}

.projectmodal-border {
    border-width: 4px;
    border-radius: 10px;
    border-color: #4d4d4d;
}

.projectmodal-header {
    font-weight: bold;
}

.projectmodal-row {
    margin-top: .5em;
    margin-bottom: 1em;
}

.projectmodal-line {
    background: rgb(42, 152, 255);
    width: 65%;
    height: .5px;
}

.modal img {
    padding: 4px;
    border: 2px solid #4d4d4d60;
    border-radius: 4px;
}


/* modal window only */
.projectdates {
    font-size: 1em;
}

/* modal window only */
.projecttext {
    font-size: .75em;
}

/******** END: projects ********/


/******** START: honors ********/
.honorsimg {
    max-width: 60%;
}

#honors a {
    text-decoration: none;
    color: #4d4d4d;
}

/******** END: honors ********/


/******** START: footer ********/
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer li a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,.5);
    padding: 5px 5px 0px 0px;
}

#footer li a:hover {
    color: rgba(255, 255, 255, 0.75);
}
/******** END: footer ********/


/******** START: projects page ********/
.projectspage {}

.projectshead {
    height: 40vh;   /* was 100 */
    min-height: 150px;  /* was 500 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/codebannersmall.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

/* need to center */
.projectshead h1 {
    color: white;  
    font-size: 4.5vw;     /* 4vw */
    letter-spacing: 8px;
    text-transform: uppercase;
}

.projectstitle {
    height: 30vh;
    min-height: 100px;
    text-align: center;
}

.projectstitle h2 {
    font-size: 4vw;     /* changed from 10 */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: auto;
    
}

.projectscontent {
    padding-top: 40px;
    padding-bottom: 40px;
}

.projectscontent h2 {
    text-transform: uppercase;
    padding-top: .1em;
    letter-spacing: 4px;
    text-align: center;
    margin-top: .75em;
    margin-bottom: 1em;
}

.projectscontent h4 {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .2em;
}
/******** END: projects page ********/