/******** START: images ********/
.bannerimg {
    max-width: 100%;
    height: auto;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.profileimg {
    /* vertical-align: middle; */
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/******** END: images ********/


/******** START: backgrounds ********/
.lightblock {
    background-color: white;
    color: #4d4d4d;
}

.darkblock {
    background-color: #4d4d4d; 
    color: white;
}

/******** END: backgrounds ********/


/******** START: experience ********/
.experiencebox {
    background-color: white;
    color: #4d4d4d;
    height: 200px;
    margin-bottom: 3em;
    /* add background image here for entire box */
}

.experiencetitle {
    font-size: 1.5em;
    font-style: bold;
}

.experiencecompany {
    font-size: 1.5em;
}

/* modal window only */
.experiencedates {
    font-size: 1em;
}

/* modal window only */
.experiencetext {
    font-size: .5em;
}

/* modal window only */
.experienceimg {
    width: 200px;
    height: auto;
}

/******** END: experience ********/
